
<nav>
    <div class='Card-wrap'>
        <div class='Card'>
            <img alt='' class='ProfilePictureFront' src='../../../assets/Ari.jpg'>
        </div>
        <div class='Card'>
            <img alt='' class='ProfilePictureBack' src='../../../assets/Conejo-Logo.png'>
        </div>
    </div>
    <div class='Card-text'>
        <p class='Salute'>¡¡Hola!!</p>
        <p class='Presentation'>Soy Ariadna Rojas Palma</p>
        <p class='Introduction'>Diseñadora Grafica egresada de la Facultad de Arquitectura y Diseño de la UAEM.</p>
        <p class='Introduction'>Trabajo en equipo, excelente comunicación y una insaciable hambre de conocimiento me describen.</p>
                    
                
